<div class="container">
    <div class="row">
        <div class="col-md-4">
            {{> asistencias/asistenciaForm }}    
        </div>
        <div class="col-md-8">
            {{> asistencias/asistenciaTable}}
        </div>
    </div>
</div>